/*General*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {box-sizing: border-box; margin: 0; padding: 0;}
body {font-family: 'Poppins', sans-serif;}
a {color: #000;text-decoration: none;}
html {scroll-behavior: smooth;  scroll-behavior: 3s;}

/*Botones*/

.btn {
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 10px;
    transition: .25s ease-in-out;
}
    .btn:hover {background-color: #1111ff; color: #fff;}

.btn2 {
    background-color: #2222ff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 2px;
    margin-right: 10px;
    transition: background-color .2s ease-in-out;
}
    .btn2:hover {background-color: #0000dd;}

.btn3 {
    background-color: #0000dd;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
    transition: background-color .2s ease-in-out;
}
    .btn3:hover {background-color: #000077;}


/*Menu*/

.menu-nav {
    position: fixed;
    width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021c79ee, #0575E6ee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
    .menu-nav ul {
        display: flex;                  /*Cambiar en tablet/celu*/
        justify-content: right;
        list-style: none;
        padding: 20px;
    }
    
    .responsive-menu {display: none;}

    .icon {
        position: relative;
        width: fit-content;
        height: fit-content;
        color: #fff;
        padding: 15px 20px 15px;
        font-size: 35px;
        transition: 1s ease-in-out;
    }
        .icon:hover {transform: rotate(360deg);}

    .icon2 {
        position: absolute;
        width: fit-content;
        height: fit-content;
        top: -.4em;
        left: 2.4em;
        color: #fff;
        padding: 20px 0 0;
        margin-left: 20px;
        font-size: 20px;
        transition: 1s ease-in-out;
    }
        .icon2:hover > .icon2-show {display: block;}

    .icon2 ul {
        display: none;
        position: absolute;
        width: fit-content;
        list-style: none;
        background-color: #fff;
        border-radius: 3px;
        padding: 5px 10px 10px;
    }
        .icon2-show a {
            font-family: 'Poppins', sans-serif;
            padding: 10px 0;
            margin: 0;
            font-size: 10px;
        }




/*Sections*/

#section1, #section2 {
    box-shadow: 0px 25px 5px 0px rgba(0,99,253,1);
    -webkit-box-shadow: 0px 25px 5px 0px rgba(0,99,253,1);
    -moz-box-shadow: 0px 25px 5px 0px rgba(0,99,253,1);
}

#section1 {
    display: flex;
    justify-content: space-between;
    color: #fff;
}
    #section1 a {color: #fff;}


#section1, #section2, #section3 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
}

#section4 {
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.my-name {
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    cursor: default;
    font-size: 44px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.cont-text {margin: auto; text-align: center;}
.cont-text p {padding: 1px 0 20px;}
.cont-text2 p {padding: 20px 0;}
.cont-img img {height: 100%;}
.mobile-btn {display: none;}


#section3 {color: #fff;}

.cont-proj {
    display: grid;
    grid-template-columns: repeat(2, 1fr);                  /*Cambiar a celu/tablet*/
    gap: 30px;
    padding: 30px;
}
    .cont-proj div {
        display: block;
        text-align: center;
        background-color: #fff;
        padding: 10px 10px 30px;
        border-radius: 10px;
    }
    .cont-proj div h3 {color: #000; padding: 50px 0px 30px;}
    .cont-proj div i {font-size: 30px; text-align: right; margin: 5px; color: #222;}
    .cont-proj div a img {height: 130px; z-index: 0; display: block; margin-bottom: 40px;}
    .cont-proj div:hover {background:linear-gradient(-95deg, #2eb, #2ab);}

#section2 {display: flex; color: #fff;}


.cont-skills, .cont-wrk-skills {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
    .cont-skills__title, .cont-wrk-skills__title {grid-column: 1/5; text-align: center;}
    .cont-wrk-skills__title {padding-top: 20px;}

.cont-skills img, .cont-wrk-skills img {height: 90px; width: 90px; transition: .5s ease-in-out; padding-bottom: 10px;}

.cont-text h2 {padding: 20px 0;}

.contact-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    padding-bottom: 30px;
}

.contact-grid__sq {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 1s ease-in-out;
}

    .contact-grid__sq:hover {
        background: linear-gradient(-95deg, #2eb, #2ab);
    }

/*Footer*/

footer {
    color: #fff;
    font-size: 10px;
    background-color: #000;
    height: fit-content;
    width: 100%;
    padding: 5px 0;
    text-align: center;
}

/*Animations*/



/*Media Only*/

@media only screen and (max-width: 425px) {

    .menu-nav ul {display: none; }

    .responsive-menu {
        display: block;
        padding: 8px 20px;
        font-size: 30px;
        color: #fff;
    }

    .responsive-menu__ul.show {
        position: absolute;
        display: block;
        top: 0px;
        left: -220px;
        padding: 70px 30px;
        width: 300px;
        text-align: right;
        height: 100vh;
        background: linear-gradient(-90deg, #2eb, #2ab);
    }

    .responsive-menu ul li {margin: 20px 0;}

    .cruz-rm {position: absolute; top: 20px; right:40px; font-size: 40px;}

    #section2 {display: block; color: #fff; height: 120vh; align-items: center;}

    .secttion-text__title {text-align: center;}


    .cont-text2 .btn2 {display: none;}
    .cont-text2 {padding: 20px;}
    .cont-text2 h2 {margin-top: 60px;}

    .cont-skills, .cont-wrk-skills {
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3, 90px);
        gap: 10px;
        width: 290px;
    }

    .mobile-btn {display: block; width: fit-content; margin: 25px auto;}

    .cont-proj {
        grid-template-columns: repeat(1, 1fr);                  /*Cambiar a celu/tablet*/
        gap: 5px;
        padding: 0px;
    }

    .cont-proj div {
        display: block;
        text-align: center;
        background-color: #fff;
        padding: 10px 10px 30px;
        border-radius: 10px;
        width: 47vw;
    }
    .cont-proj div a img {height: 90px; width: 153px; display: block; margin: 0 0 40px 0;}
    .cont-proj div h3 {color: #000; padding: 10px 0px 30px;}
    .cont-text .btn2 {margin-top: 400px;}

    .contact-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
        padding-bottom: 30px;
    }

    .contact-grid__sq {
        width: 120px;
        height: 120px;
        border-radius: 5px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        transition: 1s ease-in-out;
    }
}